@import "./components/base.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url("http://unsplash.it/1080/1980?image=513"); */
  /* background-image: linear-gradient(256deg, orange, blue, pink); */
  background-color: #0e535f;
  font-size: 1.4rem;
  font-family: poppins;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* To prevent any x axis overflow issue */
  overflow-x: hidden;
}
/* TODO: UNIVARSAL PORPERTY========= */
.section {
  padding: 17rem 4rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* TODO: UNIVARSAL PORPERTY END========= */

/* TODO : NAVBAR SECTION  */
.flex {
  display: flex;
  gap: 2rem;
}
.mobile-nav-loggle {
  display: none;
}
.primary-navigation a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.header__nav {
  background-color: #13a86a;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75rem;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  margin-left: 2rem;
  width: 50px;
  height: 50px;
}
.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sticky {
  position: fixed;
  background-color: rgba(148, 141, 141, 0.95);
  z-index: 9999;
}

/* Media Query for the small sizes */
@media (max-width: 35rem) {
  .primary-navigation {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    background-color: rgba(128, 126, 126, 0.3);
  }
  /* it will help to keep the property for browser which supports this effect
  if it doesn't support it will the use the default one */
  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background-color: rgba(133, 130, 130, 0.1);
      backdrop-filter: blur(1em);
      padding-block: 2rem;
      padding-inline: 2rem;
    }
  }
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    align-items: start;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobile-nav-loggle {
    display: block;
    position: absolute;
    background-color: tranparent;
    z-index: 9999;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    /* top: 3rem; */
    right: 2rem;
    background: url(./Assets/bars-solid.svg);
    background-repeat: no-repeat;
  }
  .cross {
    background: url(./Assets/times-solid.svg);
    background-repeat: no-repeat;
  }
  .primary-header {
    padding: 1rem 0rem;
  }
}
@media (min-width: 35rem) and (max-width: 55rem) {
  .primary-navigation a > [aria-hidden="true"] {
    display: none;
  }
}
@media (min-width: 35rem) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 7vw, 6rem);
  }
  .primary-header .sticky {
    background-color: #fff;
  }
}

/* TODO : NAVBAR SECTION END */

/* todo: FIRST SECITON START */
.header {
  padding: 10rem 4rem;
}
.f__sec {
  /* position: relative; */
  background-color: var(--color-primary-darker);
  /* padding-block-start: 2rem;
  padding-block-end: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem; */
  /* border-top: 1px solid rgb(255, 255, 255); */
}
.grid {
  /* position: relative; */
  /* position: absolute; */
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.first-sec1 {
  text-align: center;
}
.first-sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.web {
  color: var(--color-primary);
}
.front {
  color: var(--color-secondary);
}
.sec--1-img {
  width: 50%;
  /* z-index: -1; */
}
.sec--1__title {
  font-size: clamp(1.5rem, 10vw, 5rem);
  font-family: game of squids;
  line-height: 1.3;
}
.sub-title {
  color: aliceblue;
  font-size: clamp(0.8rem, 5vw, 1.4rem);
  padding-block-start: clamp(0.5rem, 10vh, 1.5rem);
}
.btn {
  outline: none;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
  margin-block-start: 2rem;
}

@media (min-width: 35rem) {
  .grid {
    width: 80%;
    /* max-width: 1140px; */
    /* min-width: 900px; */
    flex-direction: row;
    /* background-color: rgb(71, 104, 112); */
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    /* min-height: 90vh; */
  }
  .first-sec1 {
    width: 60%;
    /* minmax: (300px, 60%); */
    /* border: 1px solid black; */
    max-width: 600px;
    text-align: left;
  }
  .first-sec2 {
    /* border: 1px solid black; */
    width: 35%;
    aspect-ratio: 1;
    min-width: 200px;
    /* background-color: #fff; */
    position: relative;
  }
  .sec--1-img {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }
  .sec--1__title {
    font-size: clamp(2.5rem, 3vw, 6rem);
  }
}
/* todo: FIRST SECITON End */

/* todo: SECOND SECITON START */
.s__sec {
  /* border-top: 2px solid rgb(255, 255, 255); */
  /* padding: 2rem; */
  background-color: var(--color-secondary-darker);
}
.section--container {
  display: grid;
  place-items: center;
  gap: 2rem;
}
.icon-decorate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2.5rem;
  width: 70px;
  background-color: #fff;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid blue;
  text-shadow: 0 6px 10px black;
  margin-block-end: 1rem;
}
.area-image {
  /* border: 1px solid yellow; */
  width: 250px;
  width: minmax(200px, 300px);
  aspect-ratio: 1;
}
.sec-2-image {
  /* position: relative; */
  width: 100%;
  object-fit: cover;
}
.blur {
  filter: blur(1.4rem);
}
.area-flex {
  display: flex;
  align-items: center;
  flex-direction: column;

  /* border: 1px solid yellow; */
  padding: 1rem;
  text-align: center;
}
.para {
  color: #ffffff;
  font-size: clamp(1rem, 10vw, 1.1rem);
}
h3 {
  text-transform: capitalize;
  margin-block-end: 1rem;
}
.border__bottom {
  border-bottom: 1px solid #f7f7f7;
}
@media (min-width: 35rem) {
  .section--container {
    /* grid-auto-flow: column; */
    padding: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "area1 area2"
      "area3 area4"
      "area5 area6";
    grid-row-gap: 5rem;
  }
  .area-flex {
    align-items: flex-start;
  }
  .area1 {
    grid-area: area1;
    max-width: 500px;
  }
  .area2 {
    grid-area: area2;
    max-width: 500px;
  }
  .area3 {
    grid-area: area3;
    max-width: 500px;
  }
  .area4 {
    grid-area: area4;
    max-width: 500px;
  }
  .area5 {
    grid-area: area5;
    max-width: 500px;
  }
  .area6 {
    grid-area: area6;
    max-width: 500px;
  }
  .para {
    text-align: left;
  }
}
/* todo: SECOND SECITON END */

/* todo: THIRD SECITON START */
.operations__content {
  display: none;
}
.t__sec {
  /* width: 90%; */
  /* padding: 4rem 2rem; */
}
.section__title h2 {
  font-family: game of squids;
  color: white;
  font-weight: lighter;
}
.operations__content--active {
  display: block;
  background-color: hsl(0 0% 100% / 0.2);
  /* border: 2px solid yellow; */
  border-radius: 1rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  width: 100%;
  max-width: 1000px;
}
.ope-btn {
  font-size: 0.9rem;
  cursor: pointer;
}
.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 1rem;
  position: relative;
}
.operations__tab-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  top: -48px;
}
.operations__icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 5rem;
  /* border: 1px solid black; */
}
.operations__tab [aria-hidden="true"] {
  display: none;
}
.icons {
  font-size: 5rem;
}
.section__header {
  margin-block-end: 5rem;
}
.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  /* margin: 0; */
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-46%);
}
.operations__header {
  color: rgb(255, 255, 255);
  padding: 1rem 0rem;
  /* text-align: left; */
  letter-spacing: 1.3px;
}
.ope-para {
  color: rgb(0, 0, 0);
  font-size: clamp(0.9rem, 7vw, 1.1rem);
}

/* todo: THIRD SECITON END */

/* TODO:: FORTH SECTION START */
.slider {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  /* font-size: 3.25rem; */
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  cursor: pointer;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  left: 7%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 7%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: rgb(224, 248, 3);
  opacity: 1;
}
/* TODO:: FORTH SECTION END */

/* TODO: Fifth Section start */
.fifth_section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card__container {
  display: flex;
  gap: 2rem;
  width: 90%;
  max-width: 1140px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.card {
  display: flex;
  flex-direction: column;
  width: min(90%, 14rem);
}
.card_1 {
  max-width: 19rem;
  /* height: 25rem; */
  /* padding: 0.5rem; */
  border: 2px solid rgb(218, 218, 218);
  border-radius: 1rem;
  object-fit: cover;
  /* box-shadow: 5px 1rem 2rem black; */
}
.card_img {
  width: 100%;
  /* aspect-ratio: 0.85; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card_title {
  color: black;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
  /* background-color: hsl(0 0% 100% / 0.3); */
  background-color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sec--4__title {
  text-align: center;
  padding-block-end: 5rem;
  font-family: var(--font-game);
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 4px;
}
/* TODO: Fifth Section end */

/* TODO: Footer Section Start */
.footer_area {
  padding: 2rem 0rem;
  background-color: var(--color-primary-darker);
  border-top: 2px solid rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 80px;
}
.link {
  font-size: 3rem;
  color: white;
  padding-right: 1rem;
  text-align: center;
  /* width: 100%; */
  display: flex;
}
.para {
  /* text-align: center; */
}
.contact_list > * a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  cursor: pointer;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main__footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  width: 90%;
  max-width: 500px;

  border: 2px solid red;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
a {
  color: white;
}

/* TODO: Footer Section End */
/* * logo manipulating */

.logo__footer {
  background-color: #4a4b4c;
  padding: 10rem 0rem;
}
.list__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  flex-direction: column;
}

.flex-icon {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}

@media (min-width: 35rem) {
  .flex-icon {
    flex-direction: row;
  }
}
